a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.panel {
  display: flex;
  justify-content: space-around;
  gap: 1rem;

  div {
    width: 50%;
  }
}

.container {
  margin: 3rem;
}
